.sidebar {
    position: fixed;
    width: 282px;
    height: 100%;
    left: 0px;
    top: 0px;

    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ff6a00, #ee0979);
    box-shadow: 0px 4px 39px 15px rgba(0, 0, 0, 0.20);
}

.logo {
    position: absolute;
    width: 168px;
    height: 41px;
    left: 57px;
    top: 33px;
}

#poster {
    position: absolute;
    width: 194px;
    height: 291px;
    left: 44px;
    top: 97px;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
}

.main {
    background-color: black;
    position: absolute;
    left: 282px;
    top: 0px;
    width: calc(100% - 282px);
    height: 100%
}

.howto {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 10px;
    bottom: 10px;
}

.linktime {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 282px;
    height: 55%;
}

.subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}

.info {
    font-family: 'Sanshiro Display';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #FFFFFF;
}

.tologo {
    width: 144px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.boxbg {
    width: 240px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    border-radius: 18px 18px 26px 26px;

}

.title {
    position: absolute;
    left: 50px;
    font-family: 'Futura XBlkCnIt BT';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.cast {
    background-color: #000000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    left: 0px;
    top: 10px;
    max-width: 100%;
}

.item {
    flex-grow: 1;
    margin: 10px;
    text-align: center;
  }

.caption {
    font-family: 'Inter';
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.image {
    border-radius: 18px 18px 18px 18px;
    max-width: 165px;
}
